@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400&amp;display=swap");
@font-face {
    font-family: Heavitas;
    src: url(../fonts/Heavitas.woff2) format("woff2"),url(../fonts/Heavitas.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
#menu{
    display:none;
    visibility:hidden;
    opacity:0;
    width: 50pt;
}
::-webkit-scrollbar-thumb {
    background: #1e0616d8;
    border-radius: 10px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 5px;
}
header{
    background-color: #1E0616;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    height: 13%;
    color: white;
}
header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 4%;
    justify-content: left;
    width: 100%;
}
header ul li{
    list-style: none;
    margin-right: 20px;
}
navopt{
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-size: 15pt;
}
.right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: right;
    margin-right: 4%;
    width: 100%;
}
.underline{
    display: inline-block;
    position: relative;
    color: white;
    cursor: pointer;
}
  
.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}
  
.underline:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}
body{
    background: rgb(40,41,44);
    background: linear-gradient(0deg, rgba(40,41,44,1) 10%, rgba(1,4,9,1) 100%);
}
main{
    margin-top: 5%;
    min-height: 100vh;
}
footer{
    background-color: #1E0616;
    height: 4%;
    display: flex;
    margin-top: 3.7%;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
.contato-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 35px;
    justify-content: center;
    align-items: flex-end;
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Overpass',sans-serif;
    color: #fff;
}
.contato-1-card{
    background-color: rgba(0,0,0,.57);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    justify-content: center;
    border-radius: 10px;
    margin: 15px;
    transition: all .32s ease-in-out;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    font-family: Overpass,sans-serif;
    color: #fff;
}
.contato-1-image{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Overpass,sans-serif;
    color: #fff;
    position: relative;
    display: block;
}
.contato-1-banner{
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    width: 300px;
    height: 168px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Overpass,sans-serif;
    color: #fff;
    display: block;
    cursor: pointer;
}
.contato-1-banner img{
    transition: all .32s ease-in-out;
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Overpass,sans-serif;
    color: #fff;
    overflow-clip-margin: content-box;
    overflow: clip;
    cursor: pointer;
}
.contato-1-icon{
    top: 70%;
    left: 15px;
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Overpass,sans-serif;
    color: #fff;
    display: block;
    cursor:pointer;
}
.contato-1-icon img{
    transition: all .32s ease-in-out;
    width: 70px;
    background-color: #060608;
    border: 5px solid #060608;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Overpass,sans-serif;
    color: #fff;
    overflow-clip-margin: content-box;
    overflow: clip;
    cursor: pointer;
}
.contato-1-card:hover {
    transform: translateY(-5px);
    background-color: rgba(0,0,0,.76);
    box-shadow: 0 -1px 6px 3px rgba(0,0,0,.54)
}

.contato-1-image:hover .contato-1-banner img {
    transform: scale(1.04)
}

.contato-1-image:hover .contato-1-icon img {
    background-color: #030404;
    border: 5px solid #030404
}
.contato-1-content{
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    font-family: Overpass,sans-serif;
    color: #fff;
    margin: 0;
    display: block;
    cursor: pointer;
}
.contato-1-details{
    margin-top: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Overpass,sans-serif;
    color: #fff;
    display: block;
    cursor: pointer;
}
.contato-1-details h2{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass',sans-serif;
    color: #fff;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    cursor: pointer;
}
.contato-1-details p{
    text-align: center;
    color: #2986f1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass',sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    cursor: pointer;
}
h3{
    font-weight: 300;
    text-align: center;
    font-family: 'Overpass',Heavitas,sans-serif;
    color:#ffffff;
}
.firstsec{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../imgs/Design\ sem\ nome.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.introd-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-animation: fadein .7s ease 0s 1 normal;
    animation: fadein .7s ease 0s 1 normal;
}
.common-title{
    text-align: center;
    margin-bottom: 20px;
    display: block;
}
.common-title h1{
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Overpass,sans-serif;
    color: #fff;
    margin-block-start: 2.4em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    display: block;
}
.common-title p{
    text-align: center;
    display: block;
    padding: 0;
    box-sizing: border-box;
    font-family: Overpass,sans-serif;
    color: hsla(0,0%,100%,.712);
}
.projects-all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Overpass,sans-serif;
    color: #fff;
}
.project-1{
    max-width: 600px;
    display: flex;
    background-color: rgba(0,0,0,.438);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    font-family: Overpass,sans-serif;
    color: #fff;
}
.project-1-img{
    overflow: hidden;
    border-radius: 10px;
    margin: 5px auto;
    width: fit-content;
    display: flex;
    align-self: center;
    padding: 0;
    box-sizing: border-box;
    font-family: Overpass,sans-serif;
    color: #fff;
}
.project-1-img img{
    width: 200px;
    max-width: 100%;
    transition: all .3s ease-in-out;
    width: 200px;
    max-width: 100%;
    transition: all .3s ease-in-out;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.project-1-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Overpass,sans-serif;
    color: #fff;
}
.project-1-description{
    padding: 15px;
    max-width: 400px;
    width: 400px;
    display: block;
}
.project-1-description p{
    color: hsla(0,0%,100%,.623);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.project-1-button{
    display: flex;
    margin-top: auto;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass',sans-serif;
    color: #fff;
}

.project-1-button a{
    background-color: #3847f5;
    width: 182px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: all .2s ease-in-out;
    margin: 5px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Overpass',sans-serif;
    color: #fff;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.introd-title h1{
    font-weight: 200;
    text-align: center;
    margin: 0 20px;
    margin-top: 100px;
    font-size: 7rem;
    font-family: Heavitas,'Overpass',sans-serif;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color:#ffffff;
}
.introd-title p{
    font-size: 1.8rem;
    color:#e7e5e5;
    font-family: 'Overpass',sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0 20px;
}
.typingcursor__typing {
    -webkit-animation: cursoreffect .7s steps(10) 0s infinite normal;
    animation: cursoreffect .7s steps(10) 0s infinite normal
}
@-webkit-keyframes cursoreffect {
    50% {
        opacity: 0
    }
}

@keyframes cursoreffect {
    50% {
        opacity: 0
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

#logo{
    width: 50pt;
}
